.btn-l, .btn-r{
	/*max-width:2px !important;*/
}

#content-area{
	background: url(main.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.searchPanel{
	background-color:#ebebeb;
}
.panel{
	border: solid 1px #99BBE8;
    border-radius: 3px;
}
div.legend span.text{
	display: block;
    border: 1px solid #99BBE8;
    border-radius: 5px;
}
div.tableBorder{
	border-radius: 2px !important;
}
td.p-tl, td.p-tm, td.p-tr, 
td.p-bl, td.p-bm, td.p-br{
	height:0 !important;
	background-color:transparent !important;
	background:none !important;
}

td.p-tl, td.p-ml, td.p-bl,
td.p-tr, td.p-mr, td.p-br{
	width:0 !important;
	background-color:transparent !important;
	background:none !important;
	
}



table.logintable {
	width: 500px;
	height: 325px;
	background: url(login.png) 50% 15px no-repeat !important;
	background-color: white !important;
	border-color:green;
	border-radius:2px; 
}

.logininputtable{
	position:relative;
	top:45px;
}

.btwAangifteOmzetHeader, .btwAangifteBTWHeader, .journaalPost{
	color:white;
	background-color: red;
	width: 97%;
	display: block;
	padding:2px 2px;
}

.menuAutorisationPanel table.gridLayout > tbody > tr:first-of-type > td {
	color:white;
	background-color: red;
	padding:4px 6px;
}

.menuAutorisationHeaderLabel{
	display: block;
	margin-top:2px;
}
